{% import "/_macros" as macros %}



{{ macros.renderAllBlocks(footerContent.contentDesigner) }}


<footer class="siteFooter container">
    
    <div class="siteFooter__content -main">
        {% for column in footerContent.footerColumns.all() %}
            <div class="siteFooter__col {{ loop.first == 1 ? '-first' }}">
                {% if column.title %}
                    <h3 class="siteFooter__subhead">{{ column.title }}</h3>
                {% endif %}
                {% if column.blockContentNoMedia %}
                    <div class="siteFooter__text">
                        {{ column.blockContentNoMedia|raw }}
                    </div>
                {% endif %}
            </div>
        {% endfor %} 
    </div>
        

    <div class="siteFooter__content">
        <div class="siteFooter__secondary">
            <ul>
                <li><span>©<strong>{{ "now"|date("Y") }} BSO.org</strong></span></li>
                {% for navItem in utilityNav.navItems.all %}
                    {% set navEntry = navItem.ctaLink ?? null %}
                    {% if navEntry %}
                        <li><a href="{{ navEntry.url }}"{{ navEntry.target ? ' target="' ~ navEntry.target ~ '"'}} >{{ navEntry.label }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
            
        </div>

        <div class="siteFooter__sponsor">
            <div>Underwritten by</div>

            {% for logo in utilityNav.logosWithLinks.all %}
                {% if logo.ctaLink and logo.ctaLink.label %}
                    <a href="{{ logo.ctaLink.url }}" class="siteFooter__sponsor-link">
                {% endif %}
                {% if logo.image|length %}
                    <img src="{{ logo.image.one.url }}" alt="{{ logo.ctaLink and logo.ctaLink.label ? logo.ctaLink.label : logo.image.one.alt }}" class="siteFooter__logo" />
                        {# {{ macros.responsiveImage(logo.image.one, { 
                            alt: logo.ctaLink and logo.ctaLink.label ? logo.ctaLink.label : logo.image.one.alt,
                            pictureClass: "siteFooter__logo" }) }} #}
                {% endif %}
                {% if logo.ctaLink and logo.ctaLink.label %}
                    </a>
                {% endif %}
            {% endfor %}
        </div> 
    </div>
</footer>
