{% import "/_macros" as macros %}

<footer class="siteFooter container">
    {% for sharedBlock in footerContent.sharedBlocks.all() %}
        {{ macros.renderAllBlocks(sharedBlock.contentDesigner) }}
    {% endfor %}
    <div class="siteFooter__content">
        <ul class="footer__brands">
        <li class="footer__brands-item">
            <a href="/" class="footer__brands-link" aria-label="BSO">
            <svg class="logo__bso"><use xlink:href="#bso-logo"></use></svg>
            </a>
        </li>
        <li class="footer__brands-item">
            <a href="/tanglewood" class="footer__brands-link" aria-label="Tanglewood">
            <svg class="logo__tanglewood"><use xlink:href="#tanglewood-logo"></use></svg>
            </a>
        </li>
        <li class="footer__brands-item">
            <a href="/pops" class="footer__brands-link" aria-label="Pops">
            <svg class="logo__pops"><use xlink:href="#pops-logo"></use></svg>
            </a>
        </li>
        <li class="footer__brands-item">
            <a href="/symphony-hall" class="footer__brands-link" aria-label="Symphony Hall">
            <svg class="logo__symphonyhall"><use xlink:href="#symphonyhall-logo"></use></svg>
            </a>
        </li>
        </ul>
        <div class="footer__primary">
            <div class="footer__col-large">
                <h2 class="footer__header">Contact</h2>
                <div class="footer__contact">
                <div class="footer__contact-col">
                    {% for column in footerContent.footerColumns.all() %}
                        <div class="footer__section">
                            {% if column.title %}
                                <h3 class="footer__subhead">{{ column.title }}</h3>
                            {% endif %}
                            {% if column.blockContentNoMedia %}
                                <p class="footer__basic-text">
                                    {{ column.blockContentNoMedia|striptags('<em><i><strong><a><br>')|raw }}
                                </p>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>  
            </div>
        </div>

        

        <div class="footer__secondary">
            <div class="footer__secondary-links">
                <span>©{{ "now"|date("Y") }} BSO.org</span>
                {% for navItem in utilityNav.navItems.all %}
                    {% set navEntry = navItem.ctaLink ?? null %}
                    {% if navEntry %}
                        <a href="{{ navEntry.url }}"{{ navEntry.target ? ' target="' ~ navEntry.target ~ '"'}} >{{ navEntry.label }}</a>
                    {% endif %}
                {% endfor %}
                
            </div>

            <div class="footer__sponsor">
                <span>Underwritten By</span>

                {% for logo in utilityNav.logosWithLinks.all %}
                    {% if logo.ctaLink and logo.ctaLink.label %}
                        <a href="{{ logo.ctaLink.url }}" class="footer__sponsor-link">
                    {% endif %}
                    {% if logo.image|length %}
                          {{ macros.responsiveImage(logo.image.one, { alt: logo.ctaLink.label ?: logo.image.one.alt }) }}
                    {% endif %}
                    {% if logo.ctaLink and logo.ctaLink.label %}
                        </a>
                    {% endif %}
                {% endfor %}
            </div> 
        </div>

</footer>
