{% import "/_macros" as macros %}

<nav class="siteHeader__primaryNav navigation" v-directionals>
    <ul class="navigation__list">
        {% for navItem in primaryNavigation.topNavItems.all %}
            {% set navEntry = navItem.topNavEntry.one ?? null %}
            {% if navEntry %}
                <li class="navigation__item {{ navItem.navType != 'simple' ? '-wide' : '' }}" v-directionals>
                    <p-openable class="navigation__button" label="{{ navEntry.title }}" :close-on-blur="false">
                        {% if navItem.navType == "simple" %}
                            <div class="navigation__dropdown -center dropdown">
                                <ul class="dropdown__list">
                                    {% for item in navEntry.children.level(2) %}
                                        <li class="dropdown__item">
                                            {% if item.ctaLink and item.ctaLink.url|length %}
                                                <a href="{{ item.ctaLink.url }}"
                                                    {{ item.generalToggleOff ? ' target="_new"' }} 
                                                    class="dropdown__link">
                                                    {{ item.title }}
                                                </a>
                                            {% else %}
                                                {{ item.title }}
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% else %} {# full width #}
                            <div class="navigation__dropdown dropdown container">
                                <div class="grid -columns-{{ navEntry.children.level(2).count() + navItem.ctaCard.count() }}">
                                    {% for heading in navEntry.children.level(2) %}
                                        <div class="cell">
                                            <h3>{{ heading.title }}</h3>
                                            {{ heading.blockContent }}
                                            {% if heading.children.count() %}
                                                <ul class="dropdown__list">
                                                    {% for item in heading.children.level(3) %}
                                                        <li class="dropdown__item">
                                                            {% if item.ctaLink and item.ctaLink.url|length %}
                                                                <a href="{{ item.ctaLink.url }}"
                                                                    {{ item.generalToggleOff ? ' target="_new"' }} 
                                                                    class="dropdown__link">
                                                                    {{ item.title }}
                                                                </a>
                                                            {% else %}
                                                                {{ item.title }}
                                                            {% endif %}
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>
                                {% if navItem.ctaCard.count() %}
                                    {% set ctaCard = navItem.ctaCard.one %}
                                    <div class="cell -span-{{ navEntry.children.level(2).count() + 1 }}">
                                        <div class="card" style="max-width: 300px">
                                            <div class="card__content">
                                                <span class="card__title h3">
                                                    {{ ctaCard.title }}
                                                </span>
                                                {% if ctaCard.ctaLink %}
                                                    {% if ctaCard.ctaLink.value|length %}
                                                        <a href="{{ ctaCard.ctaLink.value }}" 
                                                            {{ ctaLink.target ? 'target="' ~ ctaLink.target ~ '"' }}
                                                            class="card__cta link -wide">
                                                            {{ ctaCard.ctaLink.text|default("Read more") }}
                                                            <svg class="card__ctaIcon link__icon">
                                                                <use href="/main-icons-sprite.svg#arrow-right" />
                                                            </svg>
                                                        </a>
                                                    {% elseif ctaCard.ctaLink.text|length %}
                                                        {{ ctaCard.ctaLink.text|default("") }}
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                            {% if ctaCard.image.count() %}
                                                <div class="card__imageWrapper">
                                                    {{ macros.responsiveImage(ctaCard.image.one, { imgClass: 'card__image' }) }}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>                                                
                        {% endif %}
                    </p-opentable>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>



            {# {% set navLink = navItem.navLink and navItem.navLink.one ? navItem.navLink.one : null %}
            
                {% if navItem.navigationLinks and navItem.navigationLinks.count() %}
                    {# TODO navLink.ctaLink is ignored #}
                    {# <p-openable class="navigation__button" label="{{ navLink.title }}" :close-on-blur="false"> #}

                        {# TODO column count #}
                        {#{% set columns = min(3, navItem.navigationLinks.count()) %}
                        {% set classes = columns > 1 ? "grid -columns-#{columns}" : "" %}

                        <div class="navigation__dropdown dropdown -rightAligned {{ classes }}">
                            {% for subNavItem in navItem.navigationLinks.all %}
                                <div class="cell">
                                    {% set subNavLink = subNavItem.navLink and subNavItem.navLink.one ? subNavItem.navLink.one : null %}
                                    {% if subNavLink.ctaLink and subNavLink.ctaLink.value %}
                                        <h3><a href="{{ subNavLink.ctaLink.value }}">{{ subNavLink.title }}</a></h3>
                                    {% else  %}
                                        <h3>{{ subNavItem.title }}</h3>
                                    {% endif %}

                                    {% if subNavItem.navigationLinks and subNavItem.navigationLinks.count() %}
                                        <ul class="navigation__list">
                                            {% for subSubNavItem in subNavItem.navigationLinks.all() %}
                                                {% set subSubNavLink = subSubNavItem.navLink and subSubNavItem.navLink.one ? subSubNavItem.navLink.one : null %}
                                                {% if subSubNavLink.ctaLink and subSubNAvLink.ctaLink.value %}
                                                    <li class="dropdown__item">
                                                        <a class="dropdown__link" href="{{ subSubNavLink.ctaLink.value }}">{{ subSubNavLink.title }}</a>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </p-openable>
                {% elseif navLink %}
                    <a href="{{ navLink.ctaLink }}" class="navigation__link">{{ navLink.title }}</a>
                {% endif %} 
            </li>
        {% endfor %}
    </ul>
</nav> #}
