{% import "/_macros" as macros %}

{% set background = null %}
{% if block['background'] is defined and block.background|length %}
    {% set background = block.background.value %}
{% endif %}

 <div class="callout mobileHide" {{ block.anchor ? 'id="#' ~ block.anchor ~ "'" : ''}}>
    <div class="callout__block">
        {# {% if block.eyebrow %}
            <h2 class="h6 accent-primary cell -span-6 -center">{{ block.eyebrow }}</h2>
        {% endif %} #}
        <div class="callout__title cell">
            <h3>{{ block.headline }}</h3>
        </div>
        {# {% if block.blockContentNoMedia|length %}
            <div class="callout__content cell -span-6 -center">
                {{ block.blockContentNoMedia }}
            </div>
        {% endif %} #}
        <div class="callout__actions cell">
            {{ macros.renderLink (block.ctaLink, { class: 'button' })}}
        </div>
    </div>
</div>