{% import "/_macros" as macros %}

{% extends "/_blocks/baseSection" %}

{% block content %}
    <div class="section__content">
        <div class="grid -columns-3">
            {% for card in block.cards.all() %}
                {% set cardData = {
                    headline: card.headline,
                    image: card.image.one,
                    content: card.blockContent
                } %}
                <div class="cell">
                    <div class="card" style="max-width: 25.75rem;">
                        <div class="card__content">
                            <span class="card__title h3">
                                {{ cardData.headline }}
                            </span>
                            <p class="card__description">
                                {{ cardData.content }}
                            </p>
                            {% if card.ctaLink %}
                                {% if ctaLink.type == "entry" %}
                                    {% set element = ctaLink.element %}
                                    {% if element.type == "blogArticle" or element.type == "resource" %}
                                        {% set cardData = cardData|merge({
                                            headline: element.title,
                                            image: element.featuredImage,
                                            content: element.abstract
                                        }) %}
                                    {% endif %}
                                {% endif %}
                                <a href="{{ ctaLink }}" class="card__cta link -wide">
                                    {{ ctaLink.label }}
                                    <svg class="card__ctaIcon link__icon">
                                        <use href="/main-icons-sprite.svg#arrow-right" />
                                    </svg>
                                </a>
                            {% endif %}
                        </div>
                        {% if card.image|length %}
                            <div class="card__imageWrapper">
                                {{ macros.responsiveImage(card.image.one, { pictureClass: 'card__image' }) }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}