{% import "/_macros" as macros %}

{% extends "/_blocks/baseSection" %}

{% set cardDataArray = [] %}
    {% for card in block.cards.limit(3) %}
        {% set cardData = [{
            headline: card.headline,
            image: card.image.one,
            content: card.blockContent,
            ctaLink: card.ctaLink,
            linkText: card.ctaLink ? card.ctaLink.label : "",
            newWindow: card.ctaLink ? card.ctaLink.target : ""
        }] %}
        {% if card.ctaLink %}
            {% if ctaLink.type == "entry" %}
                {% set element = ctaLink.element %}
                {% set cardData = [{
                    headline: card.headline ?: element.title,
                    image: card.image.one ?: element.featuredImage|length ? element.featuredImage.one : null,
                    content: card.blockContent ?: element.abstract,
                    ctaLink: element.url,
                    linkText: card.ctaLink ? card.ctaLink.label : element.title,
                    newWindow: false
                }] %}
            {% endif %}
        {% endif %}
        {% set cardDataArray = cardDataArray|merge(cardData) %}
    {% endfor %}
    {% if cardDataArray|length < 3 and block.resourceTypes|length %}
        {% set resources = craft.entries.relatedTo(block.resourceTypes).orderBy('postDate DESC').limit(3 - cardDataArray|length) %}
        {% for resource in resources %}
            {% set cardDataArray = cardDataArray|merge([{
                headline: resource.title,
                image: resource.featuredImage|length ? resource.featuredImage.one : null,
                content: resource.abstract,
                ctaLink: resource.ctaLink,
                linkText: resource.ctaLink ? resource.ctaLink.label : 'Read More',
                newWindow: resource.ctaLink ? resource.ctaLink.target
            }]) %}
        {% endfor %}
    {% endif %}


{% block content %}
    <div class="section__content">
        <div class="grid -columns-3">
            {% for card in cardDataArray %}
                <div class="cell">
                    <div class="card" style="max-width: 25.75rem;">
                        <div class="card__content">
                            <span class="card__title h3">{{ card.headline }}</span>
                            <p>{{ card.content }}</p>
                            
                            {% if card.ctaLink|length %}
                                <a href="{{ card.ctaLink }}" class="card__cta link -wide" {{ card.newWindow ? 'target="_new"' }}>
                                    {{ card.linkText }}
                                    <svg class="card__ctaIcon link__icon">
                                        <use href="/main-icons-sprite.svg#arrow-right" />
                                    </svg>
                                </a>
                            {% endif %}
                        </div>
                        {% if card.image %}
                            <div class="card__imageWrapper">
                                {{ macros.responsiveImage(card.image, { pictureClass: 'card__image' }) }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}