
{% import "/_macros" as macros %}
{% set section = 'home' %}
{% extends "_layouts/main" %}
{% block content %}

    {% include '_partials/globalHero' with { hero: {heroHeadline: globalHero.heroHeadline} } %}

        <div class="calendar" >
            <search performance-index="{{ craft.utility.getPerformanceArchive }}"
                artist-index="{{ craft.utility.getArtistArchive }}"
                work-index="{{ craft.utility.getWorkArchive }}" 
                search-key="{{ craft.utility.getSearchKey }}"
                search-host="{{ craft.utility.getTypesenseHost }}">
            </search>
        </div>

{% endblock %}